/* .slider {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: rgba(169, 169, 169, 0.178);
  border: 2px solid gray;
}
.slider1 {
  right: 24%;
  border-radius: 0 25px 25px 0;
}
.slider2 {
  left: 27%;
  border-radius: 25px 0 0 25px;
} */

main {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game {
  position: relative;
  border-radius: 5px;
  border: 2px solid gray;
  width: 800px;
  height: 400px;
}
.score {
  position: absolute;
  top: 34.5%;
  width: 800px;
  background-color: rgba(169, 169, 169, 0.178);
  border: 2px solid gray;
  border-radius: 10px;
}

.paddle {
  position: absolute;
  border-radius: 25px;
  width: 10px;
  height: 110px;
  background-color: white;
}

.paddle-left {
  left: 0px;
  top: 160px;
}
.paddle-right {
  right: 0px;
  top: 160px;
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}




.keyboard-player1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  border: 2px solid gray;
}
.keyboard-player2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  border: 2px solid gray;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100px;
  border-radius: 25px;
  height: 100px;
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}

.keypressed {
  transform: scale(80%);
  transition: all 0.5s ease;
}
